/* Style sheet created by Ehsan Quayoum */

body {
	background-color: #1d1d1c;
}

img {
	max-width: 100%
}

/*Styles for Mobile layout */

#container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}


header {
		text-align: center;
}

nav {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 1.25em;
	font-weight: bold;
	text-align: center;
	margin-top: -1.5em 
	
}

nav ul {
	padding: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

nav li {
	background-color: #9d9d93;
	border-radius: 2em;
	list-style-type: none;
	margin: 0.3em;
	padding: 0.4em;
}

nav li a {
	color: #ffffff;
	text-decoration: none;
}

.mobile{
	display: inline;
}

.desktop {
	display: none;
}


main{
	display: block;
	background-color: #FFFFFF;
	font-family: Verdana, Arial, sans-serif;
	font-size: 1em;
	margin-top: 0.5em;
	padding: 1em;
	border-radius: 2em 0 2em 0;
	opacity: 0.85;
}

main a {
	background-color: #9d9d93;
	border-radius: 1em;
	color: #ffffff;
	font-weight: bold;
	padding: 0.5em;
	text-decoration: none;

}
footer {
	font-size: .70em;
	text-align: center;
	margin-top: 2em;
	color: #ffffff;
}

footer a {
	color: #ffffff;
	text-decoration: none;
}

.tablet{
	display: none;
}

.equip{
	display: none;
}

aside {
	font-style: italic;
}

/* Tablet rules */
@media only screen and (min-width: 660px) {

nav li {
	display: inline;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
	padding-left: 0;
	padding-right: 0;
	width: 18%;
	white-space: nowrap;
	border-radius: 0;
	background-color: transparent;
}


main{
	clear: left;
	margin-top: -0.3em;
	border-radius: 0;
	overflow: auto;
}

.mobile {
	display: none;
}

.desktop {
	display: inline;
}

}

.equip {
	display: inline;
	float: left;
	margin-right: 1.5em;
}


.items {
	display: block;
	list-style-position: inside;

}


.tablet {
	display: block;
	margin-top: -3em;
	margin-bottom: -1em;
}

dt {
	font-weight: bold;
	margin-top: 0.7em;
}

h1 {
	text-align: center;
}

figure img {
	background-color: #1d1d1c;
	display: inline;
	height: 8em;
	width: 28%;
	margin: 1%;
	padding: 1%;
}

figure a {
	background-color: transparent;
	padding: 0;
	text-decoration: none;
}

section {
	padding-bottom: 3em;
}

section h1 {
	text-align: left;
}

section a {
	background-color: transparent;
	color: #1d1d1c;
	font-weight: normal;
	padding: 0;
	text-decoration: underline;
}

.contact {
	background-color: transparent;
	color: #1d1d1c;
	padding: 0;
	text-decoration: underline;
}

article {
	background-color: #c1d9ca;
	float: left;
	margin: 0.5%;
	padding: 0.5%;
	text-align: center;
	width: 31%;
}

main article img {
	border: solid 0.1em #1d1d1c;
	margin-left: auto;
	margin-right: auto;
}

main article p {
	color: #000000;
	margin-top: 2%;
	padding: 1%;
	text-align: left;
}

main article ul {
	text-align: left;
}

aside {
	background-color: #ffffff;
	border-radius: 0.5em 5em 5em;
	box-shadow: 1em 1em 1em #4c4f4d;
	padding: 1.5em;
	margin: 1em;
}
/* Desktop rules*/
@media only screen and (min-width: 830px) {

	#container {
		background-color: #1d1d1c;
	}

	header {
		text-align: left;
	}

	nav {
		float: right;
		margin-top: -7em;
		margin-right: 3em;
		margin-bottom: 0;
		width: 65%; 
	}

	nav ul {
		margin: 0;
		padding-left: 0.50%;
		padding-right: 0.50%;
	}

	nav li {
		margin-left: 0;
		margin-right: 0;
		padding: 0;
		width: 20%
	}

	nav li a {
		display: inline-block;
		padding: 0.7em;
		text-shadow: 0.2em 0.1em #3d3d35;
	}
}

nav li a:link {
	color: #FFFFFF;
}

nav li a:visited {
	color: #ccccff;
}

nav li a:hover {
	color: #9d9d93;
	font-style: italic;
}

body {
	background-color: #ffffff;
	}

main {
	background-color: #1D1D1C;
}

main p {
	color: #ffffff;
	margin-left: auto;
	margin-right: auto;
	width: 90%; 
}

main h2 {
	color: #ffffff;
}

h1 {
	color: #ffffff;
}

figure img {
	height: 15em;
	opacity: 0.7;
}

figure img:hover {
opacity: 1;
}

footer {
	background-color: #2a2a2a;
	margin-top: -0.2em;
	padding: 2em;
}

.items {
	margin-bottom: 6em;
}

section{
	color: #ffffff;
	margin-left: 1em;
	padding-bottom: 5em;

}

section a {
	color: #ffffff;
}

section p{
	margin-left: 0;

}

.contact {
	color: #ffffff;
}

main article h2 {
	color: #000000;
}